.main_panel {
  display: grid;
  grid-template-rows: 1fr 150px 1fr;
  justify-content: center;
  height: 100%;
  width: 110px;
  transition: transform 0.3s ease;
}
.main_panel .logo,
.main_panel .panel_buttons,
.main_panel .socials {
  height: 100%;
}
.main_panel .logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.main_panel .logo img {
  width: 92px;
  height: 88px;
  margin: 10px 0;
}
.main_panel .socials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}
.main_panel .socials .after-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  height: 100%;
}
.main_panel .socials .after-items .socials_item {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ffffff;
  border-radius: 100%;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}
.main_panel .socials .after-items .socials_item:hover {
  border-color: #ff0000;
}
.main_panel .socials .after-items .socials_item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_panel .socials .after-items .socials_item a img {
  width: 30px;
  height: 50%;
}
.main_panel .socials .after-items:not(:last-child)::after {
  display: block;
  content: '';
  height: 100%;
  width: 1px;
  background: #ffffff;
}
