* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.containers {
  padding-left: 120px;
  padding-right: 20px;
  min-height: 100vh;
}
.containers .title {
  font-family: 'Open-Sans';
  font-size: 85px;
  color: #ffffff;
}
@media (max-width: 700px) {
  .containers .title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .containers .title {
    font-size: 30px;
  }
}
.back-cont::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background: url('../images/logos/synapses-logo.svg') no-repeat center center;
  background-size: contain;
  transform: translate(-50%, -50%);
  opacity: 0.02;
  z-index: 1;
  pointer-events: none;
}
.main-page {
  position: relative;
  background: linear-gradient(#222222, #303030);
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-page .welcome-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 900px;
  margin-left: 70px;
  z-index: 11;
}
.main-page::before {
  content: '';
  background-image: url(../images/components/flat.svg);
  background-size: 100%;
  height: 100%;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: bottom;
  left: 120px;
}
.main-page::after {
  content: '';
  background-image: url(../images/components/wave.svg);
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-size: 100%;
  height: 100%;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: top;
  left: 120px;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 0;
  }
  .main-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-page .welcome-text {
    margin: 0;
    justify-content: center;
    width: 400px;
  }
  .main-page::before {
    display: none;
  }
  .main-page::after {
    display: none;
  }
}
