@font-face {
  font-family: 'JuliusSansOne';
  src: url("../fonts/Julius-Sans-One/JuliusSansOne-Regular.ttf");
}
.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/backgrounds/technology.png');
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  height: 100%;
  font-family: 'JuliusSansOne';
}
.about-page::before {
  content: '';
  background: url('../images/components/about-out/big-main-os.png');
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.about-page .about-text {
  color: #ffffff;
  position: relative;
  width: 750px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: visible;
}
.about-page .about-text .name {
  position: relative;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  z-index: 1;
}
.about-page .about-text .name::after {
  content: attr(data-text);
  position: absolute;
  color: #00FFFF;
  filter: blur(2px);
  opacity: 0.5;
  top: -1px;
  left: -2px;
  width: 100%;
  height: 100%;
  color: transparent;
  z-index: -1;
  text-shadow: 0 0 #00FFFF;
  animation: glitch 2s infinite;
}
.about-page .about-text .description {
  font-size: 35px;
  font-weight: 400;
  line-height: 0.9;
  position: relative;
  z-index: 1;
  width: 700px;
  text-align: center;
}
.about-page .about-text .description::after {
  content: attr(data-text);
  position: absolute;
  color: #00FFFF;
  filter: blur(2px);
  opacity: 0.5;
  top: -1px;
  left: -2px;
  width: 100%;
  height: 100%;
  color: transparent;
  z-index: -1;
  text-shadow: 0 0 #00FFFF;
  animation: glitch 2s infinite;
}
.about-page .about-text::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/logos/synapses-logo.svg');
  background-size: 100%;
  background-position: center;
  opacity: 0.2;
  z-index: 0;
  background-repeat: no-repeat;
  transform: translateX(-50%);
}
.about-page .about-text::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/components/tinsel.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.about-page .fragments-block {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
}
.about-page .fragments-block .fragments {
  position: relative;
}
.about-page .fragments-block .fragments.animate .fragment {
  opacity: 1;
  animation: flyRight 2.2s ease-out forwards;
}
.about-page .fragments-block .fragments.animate .so-big-os {
  animation-delay: 0.1s;
}
.about-page .fragments-block .fragments.animate .big-os {
  animation-delay: 0.2s;
}
.about-page .fragments-block .fragments.animate .large-os {
  animation-delay: 0.3s;
}
.about-page .fragments-block .fragments.animate .small-os {
  animation-delay: 0.4s;
}
.about-page .fragments-block .fragments.animate .so-small-os {
  animation-delay: 0.5s;
}
.about-page .fragments-block .fragments .fragment {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.about-page .fragments-block .fragments .so-big-os {
  top: 63vh;
  right: 26vw;
  --start-rot: 40deg;
  --rot-shift: -25deg;
}
.about-page .fragments-block .fragments .big-os {
  top: 4vh;
  right: 32vw;
  --start-rot: -10deg;
  --rot-shift: 20deg;
}
.about-page .fragments-block .fragments .large-os {
  top: 200px;
  right: 32vw;
  --start-rot: -157deg;
  --rot-shift: 30deg;
}
.about-page .fragments-block .fragments .small-os {
  top: 51vh;
  right: 31vw;
  --start-rot: -332deg;
  --rot-shift: -20deg;
}
.about-page .fragments-block .fragments .so-small-os {
  top: 48vh;
  right: 30vw;
  --start-rot: -356deg;
  --rot-shift: 15deg;
}
@keyframes flyRight {
  0% {
    transform: translateX(0) translateY(0) rotate(var(--start-rot, 0deg));
  }
  100% {
    transform: translateX(55px) translateY(-10px) rotate(calc(var(--start-rot, 0deg) + var(--rot-shift, 0deg)));
  }
}
@media (max-width: 1024px) {
  .about-page .about-text {
    width: 100%;
  }
  .about-page .about-text .name {
    font-size: 40px;
  }
  .about-page .about-text .description {
    width: 100%;
    font-size: 20px;
  }
  .about-page .fragments-block {
    display: none;
  }
}
