* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.containers {
  padding-left: 120px;
}
.main-page {
  position: relative;
  background: linear-gradient(#222222, #303030);
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-page .welcome-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 900px;
  margin-left: 70px;
  z-index: 11;
}
.main-page .welcome-text .name,
.main-page .welcome-text .description {
  color: #FBF8F5;
  font-weight: 500;
}
.main-page .welcome-text .name {
  font-size: 85px;
}
.main-page .welcome-text .description {
  font-size: 30px;
}
.main-page .welcome-text .button-interesting {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s all;
}
.main-page .welcome-text .button-interesting::after {
  content: url("../images/icons/pokemon.svg");
}
.main-page::before {
  content: '';
  background-image: url(../images/components/flat.svg);
  background-size: 100%;
  height: 100%;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: bottom;
  left: 120px;
}
.main-page::after {
  content: '';
  background-image: url(../images/components/wave.svg);
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-size: 100%;
  height: 100%;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: top;
  left: 120px;
}
@media (max-width: 700px) {
  .container {
    padding-left: 0;
  }
  .main-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-page .welcome-text {
    margin: 0;
    justify-content: center;
    width: 400px;
  }
  .main-page .welcome-text .name {
    font-size: 30px;
  }
  .main-page .welcome-text .description {
    font-size: 20px;
  }
  .main-page .welcome-text .button-interesting {
    font-size: 20px;
  }
  .main-page::before {
    display: none;
  }
  .main-page::after {
    display: none;
  }
}
