.order-page {
  position: relative;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.order-page .main-block-order {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 40px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.order-page .main-block-order .forms .form-ord-main {
  background: #2C2C2C;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.order-page .main-block-order .forms .form-ord-main .form-ord {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background: #323232;
  border-radius: 20px;
  padding: 10px;
  height: 450px;
}
.order-page .main-block-order .forms .form-ord-main .form-ord .form-floating {
  width: 100%;
}
.order-page .main-block-order .forms .form-ord-main .form-ord .form-floating label {
  color: #c5c5c5;
}
.order-page .main-block-order .forms .form-ord-main .form-ord .inp-ord {
  width: 100%;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  background: #444444;
}
.order-page .main-block-order .forms .form-ord-main .form-ord .inp-ord:focus {
  box-shadow: 0 0 0 0.25rem rgba(68, 68, 68, 0.17);
}
.order-page .main-block-order .forms .form-ord-main .form-ord .button_send {
  border: none;
  background: #1F1F1F;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 15px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.2em;
  color: #ffffff;
  letter-spacing: 4px;
  transition: 0.5s all;
}
.order-page .main-block-order .forms .form-ord-main .form-ord .button_send:hover {
  filter: brightness(1.2);
}
.order-page .main-block-order .design-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.order-page .main-block-order .design-elements .cosmo-man {
  width: 80%;
}
.title-form {
  font-family: 'Open-Sans';
  font-size: 4em;
  color: #ffffff;
}
@media (max-width: 700px) {
  .title-form {
    font-size: 2em;
  }
}
@media (max-width: 1024px) {
  .order-page .title {
    display: none;
  }
  .order-page .main-block-order {
    display: flex;
  }
  .order-page .main-block-order .forms .form-order-main .form-ord .button_send {
    width: auto;
  }
  .order-page .main-block-order .design-elements {
    display: none;
  }
}
