.team-page {
  position: relative;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.team-page * {
  margin: 0;
}
.team-page .main-block-team {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1300px) {
  .team-page .main-block-team {
    width: 100%;
  }
}
.team-page .main-block-team .team-swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.team-page .main-block-team .team-swiper .swiper {
  height: 750px;
}
.team-page .main-block-team .team-swiper .swiper .swiper-wrapper .swiper-slide .team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #2E2E2E;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 90%;
  width: 90%;
  margin: 0 auto;
}
.team-page .main-block-team .team-swiper .swiper .swiper-wrapper .swiper-slide .team-card .photo {
  width: 100%;
  height: 50%;
  border-radius: 30px;
  overflow: hidden;
}
.team-page .main-block-team .team-swiper .swiper .swiper-wrapper .swiper-slide .team-card .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.team-page .main-block-team .team-swiper .swiper .swiper-wrapper .swiper-slide .team-card h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3em;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .team-page .main-block-team .team-swiper .swiper .swiper-wrapper .swiper-slide .team-card h3 {
    font-size: 2em;
  }
}
.team-page .main-block-team .team-swiper .swiper .swiper-wrapper .swiper-slide .team-card p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #CCCCCC;
  text-align: center;
}
.team-page .main-block-team .team-swiper .swiper .swiper-wrapper .swiper-slide .team-card .description-user {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #AAAAAA;
  text-align: center;
}
.team-page .main-block-team .team-swiper .swiper .swiper-pagination {
  bottom: 0;
}
.team-page .main-block-team .team-swiper .buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1500px) {
  .team-page .main-block-team .team-swiper .buttons {
    width: 95%;
  }
}
.team-page .main-block-team .team-swiper .buttons .left-button,
.team-page .main-block-team .team-swiper .buttons .right-button {
  color: #ffffff;
}
.team-page .main-block-team .team-swiper .buttons .left-button::after {
  content: url("../images/icons/angle-left.svg");
}
.team-page .main-block-team .team-swiper .buttons .right-button::after {
  content: url("../images/icons/angle-right.svg");
}
.team-page .main-block-team .team-swiper .pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 10px;
}
.team-page .main-block-team .team-swiper .pagination .swiper-pagination .swiper-pagination-bullet {
  background-color: #888888;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  transition: all 0.5s ease;
}
.team-page .main-block-team .team-swiper .pagination .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  transition: all 0.5s ease;
  background-color: #ffffff;
  width: 13px;
  height: 13px;
}
.team-page .main-block-team .team-swiper .pagination .swiper-pagination .prev,
.team-page .main-block-team .team-swiper .pagination .swiper-pagination .next {
  opacity: 1;
  transition: all 0.5s ease;
  width: 10px;
  height: 10px;
}
