.modal {
  .modal-dialog {
    .modal-content {
      form {
        .modal-header {
          .btn-close {
            display: block;
            width: 1.5rem;
            transition: 0.2s all;
          }
        }
        
        .modal-footer {
          .btn-primary {
            background-color: #7e2c2c;
            border-color: #7e2c2c;
          }
        }
      }

      .form-floating{
        .form-control {
        background-color: #495057;
        color: #f8f9fa;
        border-color: #6c757d;
        &:focus {
          background-color: #495057;
          color: #f8f9fa;
          border-color: #7e2c2c;
          box-shadow: 0 0 0 0.2rem rgba(126, 44, 44, 0.25);
        }
      }
        label{
            color: #ced4da;
        }
      }
    }
  }
}
